# This goes in /etc/haproxy/haproxy.cfg in Windows Subsystem for Linux 2.

# Some commands

# sudo nano /etc/haproxy/haproxy.cfg

# sudo apt update
# sudo apt install -y haproxy@2.5
# sudo service haproxy restart

# sudo apt install redis-server

# tail -f /var/log/haproxy-traffic.log
# tail -f /var/log/haproxy-admin.log

# Reference: http://blog.haproxy.com/2012/11/07/websockets-load-balancing-with-haproxy/

global
  daemon
  maxconn 4096
  log 192.168.7.58:514 local0

defaults
  log global
  option httplog
  mode http
  balance roundrobin
  option http-server-close
  timeout connect     5s
  timeout client      30s
  timeout client-fin  30s
  timeout server      30s
  timeout tunnel      1h
  default-server inter 1s rise 2 fall 1 on-marked-down shutdown-sessions
  option forwardfor

listen chat
  bind *:3000
  default_backend nodes

backend nodes
  option httpchk HEAD /health
  http-check expect status 200
  cookie serverid insert
  server 1 192.168.7.58:3001 cookie 1 check
  server 2 192.168.7.58:3002 cookie 2 check
  server 3 192.168.7.58:3003 cookie 3 check