<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sea Battle</title>

    <link rel="stylesheet" href="/public/css/games/seabattle.css">
</head>
<body>


    <div id="players-container" v-cloak>
        <div v-for="player in players" :key="player.discordUser.id" class="player">
            <div class="player-name">{{player.discordUser.username}}#{{player.discordUser.discriminator}}</div>
        </div>
    </div>

    <div id="ship-placer" v-cloak>
        <div class="ship-placer-container" :style="styles">
            <placed-ship v-for="ship in ships" :key="ship.id" :ship="ship" :game="game"></placed-ship>
        </div>

    </div>
    <div id="game-canvas"></div>
    
    <!--vue.js cdn-->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
    <script src="/public/js/games/seabattle.js" type="module"></script>
</body>
</html>