body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.middle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#players-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#ship-placer {
    display: flex;
    justify-content: center;
}

.ship-placer-container {
    position: relative;
    border: 1px solid black;
    background-image:
        repeating-linear-gradient(rgba(0, 89, 255, 0.342) 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, rgba(0, 89, 255, 0.342) 0 1px, transparent 1px 100%);
}

.placed-ship-image {
    position: absolute;
    transition: top 0.2s, left 0.2s;
}

.placed-ship-bounding-box {
    position: absolute;
    background: rgba(255, 0, 0, 0.2);
    display: none;
}

[v-cloak] {
    display: none;
}

.hit-board {
    position: relative;
    border: 1px solid black;
    background-image:
        repeating-linear-gradient(rgba(0, 89, 255, 0.342) 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, rgba(0, 89, 255, 0.342) 0 1px, transparent 1px 100%);
}

.hit-board-row {
    display: flex;
    flex-direction: row;
}

.hit-board-cell {
    user-select: none;
    cursor: pointer;
}

.hit-board-cell img {
    width: 100%;
    height: 100%;
}

.hit-board-grid {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.target-crosshair {
    position: absolute;
    transition: top 0.1s, left 0.1s, opacity 0.2s;
}

.target-crosshair img {
    width: 100%;
    height: 100%;
}