$red: #eb2121;
$orange: rgb(255, 166, 0);
$yellow: rgb(255, 208, 0);
$green: green;
$blue: rgb(11, 53, 243);
$purple: rgb(132, 11, 148);

.red {
  background: $red;
}

.orange {
  background: $orange;
}

.yellow {
  background: $yellow;
}

.green {
  background: $green;
}

.blue {
  background: $blue;
}

.purple {
  background: $purple;
}