@use './_theme.scss' as theme;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Inter:wght@400;500;700&family=Work+Sans:wght@400;500;700&display=swap');

body,
html,
#app {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  width: 100%;
  // scroll-behavior: smooth;
  color: theme.$color-light;
  background: #212739;
  max-width: 100%;
}

html {
  --padding-x: 48px;
}

.f1 {
  font-family: 'Work Sans', sans-serif;
}

.f2 {
  font-family: 'Inter', sans-serif;
}

.xlight {
  color: theme.$color-xlight;
}

* {
  box-sizing: border-box;
}

.mono {
  font-family: 'Inconsolata', monospace;
}

@media only screen and (max-width: 600px) {
  html {
    --padding-x: 16px;
  }
}

a {
  text-decoration: none;
  color: theme.$color;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}
